body {
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url("/img/cropped-City of Philippi Covered Bridge Aug 2024.webp");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
  .hero {
    height: 50vh;
  }
}

            
.text {
    text-align: center;
    color: white;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 10px;
}

.container .full-width-image {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  justify-content: center;
	width: 100vw;
	position:relative;
  left: calc(-50vw + 50%);
  max-width: 100vw;
}

@media (max-width: 768px) {
  .container .full-width-image {
    height: 100vh;
  }
}

.container .full-background {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  justify-content: center;
	width: 100vw;
	position:relative;
  left: calc(-50vw + 50%);
  max-width: 100vw;
}

