body {
    margin: 0;
    overflow-x: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url("/img/cropped-City of Philippi Covered Bridge Aug 2024.webp");
    height: 99vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
  .hero {
    height: 50vh;
  }
}

            
.text {
    text-align: center;
    color: white;
    /* color: #FFDE59; */ 
    /* background: rgba(81, 174, 229, 0.5); */
}

/* @media (max-width: 768px) { */
  /* .text { */
     /* display: none; */
  /* } */
/* } */

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 10px;
}

.container .full-screen-image {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  justify-content: center;
	width: 100vw;
  height: 99vh;
  left: calc(-50vw + 50%);
  max-width: 100vw;
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .container .full-screen-image {
    height: 50vh;
  }
}

/* This is for when we should not resize the image so e.g. cards don't overflow. TODO: make a better way to prevent overflow. This works well for e.g. gradient images but isn't great for images that really need a resize on smaller screens. Note the absence of the height property here vs. the regular resize class above. */
.container .full-screen-image-no-resize {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  justify-content: center;
	width: 100vw;
  left: calc(-50vw + 50%);
  max-width: 100vw;
}

.container .full-screen-background {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  justify-content: center;
	width: 100vw;
  left: calc(-50vw + 50%);
  max-width: 100vw;
}

.bleed-container {

}

.bleed-content {

}

/* This is to combat what seems like a bug in the Markdown parser that generates a pre and inner code tag that just has a /div inside when I use the % in the shortcode tags. NOTE: indentation in a shortcode nested can cause the pre, code issue. Flatten to avoid.  */
pre {
  display: none;
}

/*

Carousel

*/


.container .carousel {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  justify-content: center;
	width: 100vw;
  height: 99vh;
  left: calc(-50vw + 50%);
  max-width: 100vw;
}

@media (max-width: 768px) {
  .container .carousel {
    height: 50vh;
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
 } 
   
@keyframes fade-out {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
 } 

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#button-prev {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: none;
  margin-left: 20px;
  background-color: #01BF63;
  font-size: 2em;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#button-next {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: none;
  margin-right: 20px;
  background-color: #01BF63;
  font-size: 2em;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#carousel-header {
  font-size: 2em;
  font-weight: bold;  
  text-align: center;
  color: white;
}

#carousel-content{
  text-align: center;
  color: white;
  overflow: hidden;
}

/* Screen Readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
