{{ $title := cond .IsHome .Site.Title (print .Title " | " .Site.Title) }}
{{ $description := .Description | default (.Summary | truncate 160) | default .Site.Params.description | default "" }}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{- partial "head/csp.html" . }}
    <title>{{ $title }}</title>
    <meta name="description" content="{{ $description }}" />

    <meta name="keywords" content="{{ if .Params.Keywords }}{{ delimit .Params.Keywords ", " }}{{ end }}">

    {{ if .Params.noindex }}
    <meta name="robots" content="noindex, nofollow" />
    {{ end }}

    {{- partial "head/preload.html" . }}
    {{- partial "head/css.html" . }}
    {{- template "_internal/opengraph.html" . -}}
    {{- partial "head/twitter-cards.html" . }}
    {{- partial "head/published-time.html" . }}
    {{- partial "head/favicons.html" . }}
    {{- template "_internal/google_analytics.html" . -}}
    {{- partial "head/custom-css.html" . }}
    {{- partial "head/custom-head.html" . }}
    {{- partial "head/sticky-header.html" . }}
    
<div id="mc_embed_shell">
      <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
  <style type="text/css">
        #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

</head>
